<% include ../partials/header %>
  
            
                <h1>Nane:<%=fullname %></h1><br>

              <h2>My hobbies</h2><br>
           
        <ul>
    <% hobbies.forEach(function(hobby) { %>
        <li><%= hobby %> </li>
    <% }); %>
</ul>
        
<h3>My Birthday:<%=bdate %></h3>



 <% include ../partials/footer %>