<% include ../partials/header %>

 <div class="jumbotron">
            <h1 class="display-3">Welcome!</h1>
            <p class="lead">Project1  140-390 Full Stack Web with JS </p>
            <hr class="my-2">
            <p>More info..</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/about" role="button">OK</a>
            </p>
           
        </div>



 <% include ../partials/footer %>