<% include ../partials/header %>


<h1>Add Product</h1>

<form action="/product/insert_product" method="POST">
  
<div class="form-group">
  <label for="id">ID</label>
  <input type="number"
    class="form-control" name="id" id="" aria-describedby="helpId" placeholder="plese input product id" value="">
  <small id="helpId" class="form-text text-muted">Product ID</small>
</div>

<div class="form-group">
    <label for="title">Title</label>
    <input type="text"
      class="form-control" name="title" id="" aria-describedby="helpId" placeholder=""value="">
    <small id="helpId" class="form-text text-muted">Title</small>
  </div>

  <div class="form-group">
    <label for="Price">Price</label>
    <input type="number"
      class="form-control" name="price" id="" aria-describedby="helpId" placeholder=""value="">
    <small id="helpId" class="form-text text-muted">Price</small>
    </div>
    
    <div class="gj-margin-top-10">
        <form class="display-inline">
            <label for="ddlLanguage">Language:</label>
            <select id="ddlLanguage">
                <option value="en-us">English</option>
                <option value="fr-fr">French</option>
                <option value="bg-bg">Bulgarian</option>
                <option value="de-de" selected="selected">German</option>
                <option value="pt-br">Portuguese (Brazil)</option>
                <option value="ru-ru">Russian</option>
                <option value="es-es">Spanish</option>
                <option value="it-it">Italian</option>
            </select>
        </form>
    </div>
    <div class="gj-clear-both"></div>
    <div class="gj-margin-top-10">
        <input id="datepicker" width="276" />
    </div>

    <script type="text/javascript">
        var datepicker, config;
        config = {
            locale: 'de-de',
            uiLibrary: 'bootstrap4'
        };
        $(document).ready(function () {
            datepicker = $('#datepicker').datepicker(config);
            $('#ddlLanguage').on('change', function () {
                var newLang = $(this).val();
                config.locale = newLang;
                datepicker.destroy();
                datepicker = $('#datepicker').datepicker(config);
            });
        });
    </script>

      
    <button type="submit" class="btn btn-success">Save</button>

</form>
<% include ../partials/footer %>

