<% include ../partials/header %>


<h1>Add Product</h1>
<form class="needs-validation" novalidate>
<div class="form-group">
  <label for="id">ID</label>
  <input type="number"
    class="form-control" name="id" id="" aria-describedby="helpId" placeholder="plese input product id" value="">
  <small id="helpId" class="form-text text-muted">Product ID</small>
</div>


</form>
<% include ../partials/footer %>

